<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="static/css/style.css" />
        <title>{{  title  }}</title>
    </head>
    
    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="static/img/bulb.png" alt="Logo" />
                        <h1>EndChat</h1>    
                    </div>
                    
                </div>
                <form>
                    <input type="text" id="msg" name="msg"><br>
                </form> 
            </header>